################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webservice Cevaldom/CEVALDOM/SQLServer2017DockerWebApi
