################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webservice Cevaldom/CEVALDOM/SQLServer2017DockerWebApi
/Webservice Cevaldom/CEVALDOM/GENERADETOKENCEVALDOM/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
