<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--SIOPEL_INTERFACE_DB Test ARP -->
    <add key="INTERFACE_ConectionString" value="Data Source=ADB03;Initial Catalog=SIOPEL_INTERFACE_DB;User ID=developer;Password=admin@123"/>
    <add key="AppName" value="RuedasALIQ"/>

    <!-- SIOPEL_INTERFACE_DB SQL Produccion -->
    <!--<add key="INTERFACE_ConectionString" value="ADB03;Initial Catalog=SIOPEL_INTERFACE_DB;User ID=developer;Password=admin@123" />-->
    </appSettings>
    
  </configuration>